#home , #about {
    text-align: center;
    font-size: 34px;
    height: 100vh;
}
#count{
    position: absolute;
    color: white;
  -webkit-text-fill-color: rgb(0, 0, 0);
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: rgb(255, 255, 255);
    font-size: 200px;
    font-family: 'Oswald',sans-serif;
    bottom: 20vh;
    left: 50%;
    transform: translate(-50% , -50%);
}

.navbar-collapse{
  height: 100vh;
}
.nav-item{
  font-size: 50px;
  margin: 10px;
  align-items: center;
}
.nav-link{
  color: white;
  font-size: 100px;
    font-family: 'Oswald',sans-serif;
  -webkit-text-fill-color: rgb(0, 0, 0);
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: rgb(255, 255, 255);
}
.nav-link:hover{
  color: white;
  -webkit-text-fill-color: rgb(255, 255, 255);
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: rgb(255, 255, 255);
}